@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

html{
    overflow: hidden;
}

body{
    overflow: hidden;
    margin: 0;
}

h1{
    font-family: "Lilita one", sans-serif;
    color: antiquewhite;
    position: relative;
    font-size: clamp(2.5rem, 5vw, 4rem);
}

h2{
    font-family: "Lilita one", sans-serif;
    color: antiquewhite;
    padding-left: 10px;
    padding-right: 50px;
}

p{
    font-family: "Roboto", sans-serif;
    color: antiquewhite ;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
    font-size: 2em;
    line-height: 1.6;
}

li{
    font-family: "Roboto", sans-serif;
    color: antiquewhite ;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
    font-size: 1.5em;
    line-height: 1.6;
}

code{
    display: inline-flex;
    align-items: center;
    padding-right: 8px;
}

code img{
    width: auto;
    height: 100%;
}

.background{
    position: fixed;
    top: -200vh;
    left: -200vw;
    width: 400vw;
    height: 400vh;

    overflow: visible;
    background: conic-gradient(
        #211C84 90deg,
        #4D55CC 90deg 180deg,
        #211C84 180deg 270deg,
        #4D55CC 270deg 
    );
    background-repeat: repeat;
    background-size: 300px 300px;
    background-position: top left;

    transform: rotateX(50deg) rotateZ(-15deg) scale(1.5);
    transform-origin: center center;
    z-index: -1;

    animation: background_animation 40s linear infinite;
}

@keyframes background_animation{
    from{
        background-position: 0 0;
    }
    to{
        background-position: 300px 300px;
    }
}

.intro{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #0f0f0f;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro.active{
    top: -100vh;
    transition: 1s ease-out;
}

.introDivLogo {
    display: contents;
}   

.introLogo {
    position: relative;
    margin-top: -182px;
    opacity: 0;
    top: 20%;
}

.introLogo.fade_in{
    opacity: 100;
    transition: ease-out 0.5s;
}

.introLogo.move_up{
    top: 10%;
    transition: ease-out 1s;
}

.introLabelDiv {
    position: relative;
    display: flex;
    flex-direction: row;
    opacity: 0;
    top: 5%
}

.introLabelDiv.active {
    top: 10%;
    opacity: 1;
    transition: ease-out 0.5s;
}

.introDevLabel {
    font-family: "Lilita one", sans-serif;
    font-size: 50px;
    color: white;
}

.introSeedLabel {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 50px;
    font-style: light;
    color: white;
}

.maindiv{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    height: 50vh;
}

.categoryButton{
    font-family: "Lilita One", sans-serif;
    text-decoration: none;
    color: white;
    margin: 0px;
    font-size: 4em;
    padding-left: 0px;
    padding-right: 0px;
    transition: 0.5s ease-out;
}

.categoryButton:hover{
    text-decoration: none;
    font-size: 6em;
    color: #ffbb00;
    transition: 0.15s ease-out;
    cursor: pointer;
    padding-left: 350px;
    padding-right: 350px;
    padding-top: 24px;
    padding-bottom: 24px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0), rgba(0, 0, 0, 0));
}