html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

.intro{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #0f0f0f;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro.active{
    top: -100vh;
    transition: 1s ease-out;
}

.introDivLogo {
    display: contents;
}   

.introLogo {
    position: relative;
    margin-top: -182px;
    opacity: 0;
    top: 20%;
}

.introLogo.fade_in{
    opacity: 100;
    transition: ease-out 0.5s;
}

.introLogo.move_up{
    top: 10%;
    transition: ease-out 1s;
}

.introLabelDiv {
    position: relative;
    display: flex;
    flex-direction: row;
    opacity: 0;
    top: 5%
}

.introLabelDiv.active {
    top: 10%;
    opacity: 1;
    transition: ease-out 0.5s;
}

.introDevLabel {
    font-family: "Lilita one", sans-serif;
    font-size: 50px;
    color: white;
}

.introSeedLabel {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 50px;
    font-style: light;
    color: white;
}

.maindiv{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#1c1438;
}

.logo{
    height: 50vh;
}

h1{
    font-family: "Lilita one", sans-serif;
    color: antiquewhite;
}

p{
    font-family: "Roboto", sans-serif;
    color: antiquewhite ;
    font-size: 110%;
    text-indent: 5%;
    line-height: 1.3;
}

.tutorialDiv h1{
    position: relative;
    background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0));
    min-height: 10vh;
    align-content: center;
    padding: 10px;
    left: -20px;
}

.categoryLabel{
    transition: 0.5 ease-out;
}

.categoryLabel:hover{
    /*scale: 2;*/
    font-size: 350%;
    color: #ffbb00;
    transition: 0.5s ease-out;
    cursor: pointer;
}

.categoryLabel:not(:hover){
    color: aliceblue;
    font-size: 200%;
    transition: 0.25s ease-out;
}

.usbLogo{
    position: absolute;
    right: 5%;
    bottom: 5%;
    height: 10vh;
}

.tutorialBody{
    background-color: #1c1438;
}

.tutorialSidebar{
    position: fixed;
    height: 100%;
    width: 20vw;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #0f0f0f;

    display: flex;
    flex-direction: column;
}

.tutorialSidebarNav{
    padding-left: 2vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.tutorialSidebarNav a{
    font-family: "Lilita one", sans-serif;
    color: antiquewhite;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.tutorialSidebarNav a:hover{
    font-size: 200%;
    color: #ffbb00;
    transition: 0.5s ease-out;
    cursor: pointer;
}

.tutorialSidebarNav a:not(:hover){
    font-size: 150%;
    color: antiquewhite;
    transition: 0.25s ease-out;
    cursor: pointer;
}

.tutorialDiv{
    position: relative;
    background-color: #0f0f0f93;
    left: 20vw;
    width: 75vw;
    min-height: 100vh;
    padding: 10px;
    padding-left: 20px;

    box-shadow: 0px 0px 50px #0f0f0f93;
}

.tutorialDiv img{
    box-shadow: 0px 0px 20px black;
    height: 50vh;
    padding: 10px;
}

.tutorialDiv img:hover{
    height: 80vh;
    transition: 0.2s ease-out;
}

.tutorialDiv img:not(:hover){
    height: 50vh;
    transition: 0.1s ease-out;
}