html{
    overflow: hidden;
}

body{
    background-color:#1c1438;
    overflow: hidden;
    margin: 0;
}

h1{
    font-family: "Lilita one", sans-serif;
    color: antiquewhite;
    position: relative;
    font-size: clamp(2.5rem, 5vw, 4rem);
}

h2{
    font-family: "Lilita one", sans-serif;
    color: antiquewhite;
    padding-left: 10px;
    padding-right: 50px;
}

p{
    font-family: "Roboto", sans-serif;
    color: antiquewhite ;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
    font-size: 1.5em;
    line-height: 1.6;
}

li{
    font-family: "Roboto", sans-serif;
    color: antiquewhite ;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
    font-size: 1.5em;
    line-height: 1.6;
}

code{
    display: inline-flex;
    align-items: center;
    padding-right: 8px;
}

code img{
    width: auto;
    height: 100%;
}

.intro{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #0f0f0f;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro.active{
    top: -100vh;
    transition: 1s ease-out;
}

.introDivLogo {
    display: contents;
}   

.introLogo {
    position: relative;
    margin-top: -182px;
    opacity: 0;
    top: 20%;
}

.introLogo.fade_in{
    opacity: 100;
    transition: ease-out 0.5s;
}

.introLogo.move_up{
    top: 10%;
    transition: ease-out 1s;
}

.introLabelDiv {
    position: relative;
    display: flex;
    flex-direction: row;
    opacity: 0;
    top: 5%
}

.introLabelDiv.active {
    top: 10%;
    opacity: 1;
    transition: ease-out 0.5s;
}

.introDevLabel {
    font-family: "Lilita one", sans-serif;
    font-size: 50px;
    color: white;
}

.introSeedLabel {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 50px;
    font-style: light;
    color: white;
}

.maindiv{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#1c1438;
}

.logo{
    height: 50vh;
}

.card{
    display: flex;
    flex-direction: column;
    position: relative;
    width: clamp(256px, 30vw, 512px);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
    opacity: 0;
    bottom: -20px;
    cursor: pointer;

    transition: 0.1s ease-out;
}

.card.active{
    opacity: 1;
    bottom: 0px;
    transition: 0.5s ease-out;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,1);
    transition: 0.3 ease-out;
}

.card img{
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    text-overflow: ellipsis;
    overflow-wrap:normal;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.cardContainer h1{
    text-align: center;
    font-size: clamp(16px, 4vw , 64px);
    width: 100%;
    margin: 8px;
}

.cardContainer p{
    text-align: center;
    font-size: clamp(8px, 2vw , 24px);
    margin-top: 0px;
}

.accordion{
    display: flex;
    flex-direction: column;
}

.accordion > .accordionContainer{
    display: none;
    height: 0%;
    opacity: 0;
    pointer-events: none;
    width: 100%;

    transition: opacity 0.5s ease-out, height 0.5s ease-out, display 0.5s ease;
    transition-behavior: allow-discrete;
}


.accordion.open > .accordionContainer{
    /*max-height: 100%;*/
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    opacity: 1;
    pointer-events: all;

    transition: opacity 0.5s ease-out, height 0.5s ease-out, 
    display 0.5s ease;
    transition-behavior: allow-discrete;
    /*transition-behavior: allow-discrete;*/
}

.accordion > .headingContainer > .accordionArrow{
    height: auto;
    rotate: 0deg;
    opacity: 0.1;

    transition: 0.5s ease-out;
}

.accordion.open > .headingContainer > .accordionArrow{
    rotate: 90deg;

    transition: 0.5s ease-out;
}

.accordion:hover > .headingContainer >.accordionArrow{
    opacity: 1;  

    transition: 0.5s ease-out;
} 

.accordion > .accordionHeading{
    position: relative;
    left: 1vw;
    cursor: pointer;
    height: 100%;
    transition: 0.5s ease-out;
}

.accordion > .headingContainer{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    align-items: center;
    width: 75%;
    height: 96px;
    background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0));

    transition: 0.5s ease-out;
}

.accordion > .headingContainer:hover{
    padding-right: 100%;

    transition: 0.5s ease-out;
}

.accordion.open > .headingContainer{
    height: 128px;
    transition: 0.5s ease-out;
}

@starting-style{
    .accordionContainer.display{
        height: 0px;
        opacity: 0;
    }
    .accordionContainer{
        height: 100%;
        opacity: 1;
    }
}

.tutorialDiv{
    position: relative;
    background-color: #0f0f0f93;
    width: 100%;
    height: 100vh;
    box-shadow: 0px 0px 50px #0f0f0f93;
    transition: 0.5s ease-out;
    overflow-y: auto;
    /*scroll-behavior: smooth;*/
}

.tutorialDiv.center{
    transition: 0.5s ease-out;
}

.tutorialDiv p{
    display: inline-block;
    padding-left: 20px;
    padding-right: 10%;
    word-break: break-word;
    text-indent: 5%;
}

.tutorialDiv h1{
    align-content: center;
    padding-left: 10px;
    padding-right: 24px;
    margin: 0;
}

.tutorialDiv h2{
    position: relative;
    font-size: 2rem;
    align-content: center;
}

.categoryLabel{
    transition: 0.5 ease-out;
}

.categoryLabel:hover{
    font-size: 350%;
    color: #ffbb00;
    transition: 0.5s ease-out;
    cursor: pointer;
}

.categoryLabel:not(:hover){
    color: aliceblue;
    font-size: 200%;
    transition: 0.25s ease-out;
}

.usbLogo{
    position: absolute;
    right: 5%;
    top: 5%;
    height: 10vh;
}

.topbar{
    position: relative;
    display: flex;
    align-items: center;
    background-color: black;
    top: 0;
    left: 0;
    height: 96px;
    width: 100%;
    z-index: 100;
    box-shadow: 0px 2px 10px black;

}

.tutorialBody{
    position: relative;
    left: 0px;
    background-color: #1c1438;
    margin-top: 0px;
    display: flex; 
    flex-direction: row;
}

.burgerIcon{
    z-index: 2;
    cursor: pointer;
    opacity: 0.7;
    scale: 100%;

    transition: 0.25s ease-in;
}

.burgerIcon:hover{
    opacity: 1;
    scale: 120%;

    transition: 0.25s ease-out;
}

.imgVisibilityIcon{
    z-index: 2;
    cursor: pointer;
}

.imgIcon{
    height: clamp(48px, 5vw, 128px);
    width: auto;
}

.tutorialSidebar{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    min-width: 240px;
    max-width: 240px;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #0f0f0f;
    overflow-y: auto;

    transition: 0.25s ease-out;
}

.tutorialSidebar *{
    opacity: 1;
    transition: 0.25s ease-out;
}

.tutorialSidebar.closed{
    min-width: 0px;
    width: 0%;
    /*left: -270px;*/
    transition: 0.5s;
}

.tutorialSidebar.closed *{
    opacity: 0;
    transition: 0.1s ease-out;
}

.tutorialSidebarNav{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.tutorialSidebarNav a{
    position: relative;
    right: 0px;
    padding-left: 8px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 100%;

    transition: 0.1s ease-in;
}

.tutorialSidebarNav > a:hover{
    padding-left: 1vw;
    background-color: black;
    transition: 0.1s ease-out;
}

.tutorialSidebarNav > .accordion {
    background-color: black;
    transition: 0.1s ease-out;
}

.accordionSubHeading{
    font-size: 20px !important;
    padding-left:2vw;
}

.accordionSubHeading:hover{
    background-color: #0f0f0f;
    padding-left: 3vw;
}


.tutorialSidebarNav a{
    font-family: "Lilita one", sans-serif;
    text-decoration: none;
    color: antiquewhite;
    font-size: 24px;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-right: 1vw;
}

.tutorialSidebarNav a:hover{
    color: #ffbb00;
    transition: 0.5s ease-out;
    cursor: pointer;
}

.tutorialSidebarNav a:not(:hover){
    color: antiquewhite;
    transition: 0.25s ease-out;
    cursor: pointer;
}

.downloadImg{
    image-rendering: pixelated;
    height: 10vh !important; 
    cursor: pointer !important; 
}

.screenshot{
    box-shadow: 0px 0px 20px black;
    min-height: 10vw;
    height: 20vw;
    width: auto;
    cursor: zoom-in;
    margin: 5px;

    transition: 0.5s ease-out;
}

.tutorialDiv img.hidden{
    box-shadow: 0px 0px 0px;
    min-height: 0vw;
    height: 0vh;
    transition: 0.5s ease-in-out;
}

.tutorialDiv img.zoom{
    height: 50vw;
    transition: 0.2s ease-out;

    cursor: zoom-out;
}

.imgContainer{
    position: relative;
    left: 0;
    top:0;
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: space-around;
}

.note{
    display: flex;
    margin-left: 64px;
    margin-top: 16px;
    margin-bottom: 32px;
    width: 75%;
    align-items: center;
    border-left: 16px solid cyan;
    background-image: linear-gradient(to right, rgba(0, 255, 255, 0.336), rgba(0, 255, 255, 0));;
}

.note > p{
    width: 100%;
    text-indent: 0%;
}

.note > img{
    height: clamp(64px, 10vw, 128px);
    width: auto;
    scale: 0.7;
}

.note.alert{
    border-left: 16px solid #f9a31b;
    background-image: linear-gradient(to right, #f9a41b5b, #f9a41b00);
}

.note.alert > img{
    scale: 0.7;
    animation-name: blink;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes blink {
    0%  {opacity: 0; animation-timing-function: ease-out;}
    50% {opacity: 1; animation-timing-function: ease-in;}
    100%{opacity: 0;}
}