.gridContainer{
    perspective: 800px;
    perspective-origin: top;
}

.mainGrid{
    overflow: hidden;
    position: relative;
    display: grid;
    transform: rotateX(15deg) rotateY(0deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    width: 420px;
    height: 420px;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(3, 33%);
    cursor: pointer;

    box-shadow: 
     0 2px 5px rgba(0,0,0,0.2),
    inset 0 0 1px rgba(255,255,255,0.2);
    border-color: #342935;
    border-style: outset;
    border-width: 16px;
}

.mainGrid img{
    pointer-events: none;
}


.tile{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;

    background-color: rgb(16, 27, 27);
    /*border-radius: 4px;*/
    border-style: solid;
    border-color: #342935;
    border-width: 2px;

    transition: 0.1s ease-out;
    /*color: wheat*/
    /*width: 100%;
    height: 100%;*/
}

.tile_block{
    display: flex;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 0;
    border-width: 8px;
    margin: 0;
    transform-origin: center;
    background-color: rgb(106, 97, 103);
    border-color: rgb(73, 67, 71);
    /*border-radius: 4px;*/
    border-style: outset;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.tile_block.clear{
    scale: 0%;
    /*rotate: 90deg;*/
    transition: 0.15s ease-out;
}

.tile_block img{
    position: relative;
    top: -24px;
    transform: rotateX(15deg) rotateY(0deg);
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}

/*When the block isnt flagged*/
.tile_block > .flag{
    z-index: 999;
    top: -64px;
    opacity: 0;
    transition: 0.3s ease-out;
}

.tile_block.flagged > .flag{
    top: -16px;
    left: 5px;
    width: 64px !important ;
    height: 150%;
    opacity: 1;
    
    transition: 0.15s ease-out;
}

@starting-style{
    .tile_block.flagged > .flag{
        top: -64px;
        /*scale: 0%;*/
        opacity: 0;
    }
}

/*.tile.block > p{
    z-index: -1;
}

.tile.block > img{
    z-index: -1;
}*/

.tile.mine {

}

.tile.mine img{
    width: 85%;
    height: 85%;
}

.tile p{
    font-size: 2.5em;
    pointer-events: none;
}

p.One{
    color: cyan;
}

p.Two{
    color: greenyellow;
}

p.Three{
    color:crimson;
}