.tutorialBrowserDiv{
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.card{
    display: flex;
    scale: 1;
    flex-direction: column;
    position: relative;
    width: clamp(128px, 30vw, 512px);
    background-color: rgb(22, 4, 34);
    box-shadow: 0 16px 16px 0 rgba(0,0,0,0.3);
    opacity: 0;
    bottom: -20px;
    cursor: pointer;
    text-decoration: none;
    margin: 8px;

    transition: 0.5s ease-out;
}

.card:hover{
    scale: 1.1;
    box-shadow: 0 48px 48px 0 rgba(0, 0, 0, 0.7);
    transition: 0.15 ease-out;
}

.card.active{
    opacity: 1;
    bottom: 0px;
    transition: 0.5s ease-out;
}

.card img{
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
    aspect-ratio: 1/1;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    text-overflow: ellipsis;
    overflow-wrap:normal;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.cardContainer h1{
    text-align: center;
    font-size: clamp(16px, 4vw , 64px);
    width: 100%;
    margin: 8px;
}

.cardContainer p{
    text-align: center;
    font-size: clamp(8px, 2vw , 24px);
    margin-top: 0px;
}